body {
    font-family: "Playfair Display", serif;
}
.title {
    top: 45%;
    left: 38%;
    transform-origin: center;
    font-size: 50px;
}
hr {
    width: 50%;
}
.button {
    padding: 20px 30px 20px 30px;
    background-color: #66a7a7;
    border: none;
    color: white;
    font-size: 16px;
    font-family: "Lato";
}

    .button:hover {
        background-color: #558c8c;
    }